<h1>Your Results: </h1>

<%= @A %><br/>
<%= @B %><br/>
<%= @C %><br/>
<%= @D %><br/>
<%= @E %><br/>
<%= @F %><br/>
<%= @G %><br/>
<br/>
<%= @H %><br/>
<%= @I %><br/>
<%= @J %><br/>
<%= @K %><br/>
<%= @L %><br/>
<%= @M %><br/>
<%= @N %><br/>
<br/>
<%= @Q %><br/>
<%= @R %>
<%= @S %><br/>
<%= @T %><br/>
<%= @U %><br/>
<%= @V %><br/>
<%= @W %><br/>
